.item {
    background-color: #59a098;
    width: 30%;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.item h6 {
    font-size: 1.5rem;
    font-weight: 400;
}
.item p {
    font-weight: 300;
}
