.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.search {
    border: none;
    padding: 0.5rem 0.75rem;
    border-radius: 5rem;
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    transform: scale(1.05);
    transition: all 0.3s;
}
.search:focus {
    transform: scale(1);
    outline: none;
    box-shadow: none;
}
.btn {
    position: absolute;
    right: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon {
    font-size: 1.1rem;
}
