.wrapper {
    height: 100vh;
    background-color: #bfd8d5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    width: 75vw;
    height: 85vh;
    background-color: #f4f3f3;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 40px;
}
